[submodule "DailyFreshBill"]
	path = DailyFreshBill
	url = https://github.com/AnuAlias-E/DailyFreshBill.git
[submodule "DailyFreshStore"]
	path = DailyFreshStore
	url = https://github.com/AnuAlias-E/DailyFreshStore.git
[submodule "DailyFreshCustomer"]
	path = DailyFreshCustomer
	url = https://github.com/AnuAlias-E/DailyFreshCustomer.git
[submodule "DailyFreshProject"]
	path = DailyFreshProject
	url = https://github.com/AnuAlias-E/DailyFreshProject.git
